services:
  - type: web
    name: tds-quiz-solver
    env: python
    plan: free
    region: singapore

    buildCommand: |
      pip install --upgrade pip
      pip install -r requirements.txt
      python -m playwright install chromium
      python -m playwright install-deps

    startCommand: |
      uvicorn app:app --host 0.0.0.0 --port 10000

    envVars:
      - key: PYTHONUNBUFFERED
        value: "1"

      - key: AIPIPE_API_KEY
        sync: false

      - key: AIPIPE_API_URL
        value: https://aipipe.org/openrouter/v1/chat/completions

      - key: AIPIPE_MODEL
        value: gpt-5-nano
