fastapi
uvicorn[standard]
playwright
aiohttp
pydantic
httpx
pandas
numpy
python-multipart
beautifulsoup4
filetype
pandas
numpy
pdfplumber
pillow
pytesseract
matplotlib
pydub
openai-whisper
tenacity
pyaudio
SpeechRecognition